.header {
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    overflow: hidden;
  }
  
  .logo {
    width: 228px;
    height: 32px;
  }
  
  .logo_place_header {
    position: absolute;
    left: 64px;
    top: 30px;
    background-image: url(../images/logo_place_header.svg);
    z-index: 4;
  }
  
  .header__title {
    max-width: 730px;
    width: 100%;
    margin-block: 0;
    margin-inline: 0;
    margin: 0;
    padding: 0;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;
    z-index: 2;
  }
  
  .header__subtitle {
    width: 388px;
    position: absolute;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    z-index: 2;
    margin: 0;
    padding: 0;
  }
  
  .header__link {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
  }
  
  .header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
  }
  